<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>validation</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
    <string>FubuCore</string>
    <string>FubuLocalization</string>
    <string>FubuMVC.References</string>
    <string>FubuMVC.Spark</string>
	<string>Serenity</string>
  </Floats>
</ripple>