<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>validation</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
    <string>Bottles</string>
    <string>FubuCore</string>
    <string>FubuKayak</string>
    <string>FubuLocalization</string>
    <string>FubuMVC.References</string>
    <string>FubuMVC.Spark</string>
    <string>FubuTestingSupport</string>
    <string>HtmlTags</string>
    <string>Serenity</string>
    <string>Spark</string>
    <string>FubuMVC.TestingHarness</string>
    <string>FubuMVC.Core</string>
    <string>FubuMVC.Core.UI</string>
    <string>FubuMVC.Core.View</string>
    <string>FubuMVC.SelfHost</string>
    <string>FubuMVC.StructureMap</string>
    <string>Storyteller</string>
    <string>FubuMVc.Core.Assets</string>
    <string>FubuMVC.Core.Assets</string>
  </Floats>
</ripple>