Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.StructureMap
HtmlTags
Newtonsoft.Json
Owin
Owin.Extensions
Owin.Types
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Storyteller2
structuremap
