Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.StructureMap
HtmlTags
Microsoft.Owin.Host.HttpListener
Newtonsoft.Json
Owin
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Storyteller
structuremap
