ApplicationSettings.ApplicationSourceName=FubuMVC.HelloValidation.HelloValidationApplication, FubuMVC.HelloValidation
ApplicationSettings.Port=5516
ApplicationSettings.Name=HelloValidation
ApplicationSettings.RootUrl=http://localhost/hellovalidation
ApplicationSettings.PhysicalPath=../../../FubuMVC.HelloValidation