<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.441" targetFramework="net40" />
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.124" targetFramework="net40" />
  <package id="FubuMVC.Core" version="1.0.1.1407" targetFramework="net40" />
  <package id="FubuMVC.Core.Assets" version="0.9.9.384" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="1.0.1.406" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="1.0.0.383" targetFramework="net40" />
  <package id="FubuMVC.SelfHost" version="1.0.1.1407" targetFramework="net40" />
  <package id="FubuMVC.StructureMap" version="1.0.1.1407" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.145" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.20918.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Selenium.RC" version="2.25.1" targetFramework="net40" />
  <package id="Selenium.Support" version="2.29.1" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.29.1" targetFramework="net40" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.29.1" targetFramework="net40" />
  <package id="Serenity" version="0.9.8.119" targetFramework="net40" />
  <package id="Storyteller2" version="2.0.0.12" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" />
</packages>