<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.426" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.217" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.114" targetFramework="net40" />
  <package id="FubuMVC.Core" version="0.9.9.1326" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="0.9.9.87" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="0.9.9.78" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.137" targetFramework="net40" />
</packages>