<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.377" />
  <package id="FubuCore" version="0.9.9.193" />
  <package id="FubuLocalization" version="0.9.5.86" />
  <package id="FubuMVC.Core" version="0.9.8.1223" />
  <package id="FubuMVC.Core.UI" version="0.9.9.20" />
  <package id="FubuMVC.Core.View" version="0.9.9.13" targetFramework="net40" />
  <package id="FubuMVC.StructureMap" version="0.9.8.1214" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.122" />
  <package id="structuremap" version="2.6.3" />
</packages>