fubuvalidation.localization.js requires jquery, underscore
fubuvalidation.rules.js requires fubuvalidation.localization.js
fubuvalidation.core.js requires underscore, fubuvalidation.rules.js, continuations
fubuvalidation.ui.js requires underscore, jquery, fubuvalidation.core.js
fubuvalidation.plugin.js requires fubuvalidation.ui.js, fubuvalidation.core.js, continuations, fubucontinuations.jquery.forms.js

fubuvalidation is fubuvalidation.plugin.js

ValidationActivator.js requires fubuvalidation, FormActivator.js
ValidationResultsActivator.js requires fubuvalidation