fubuvalidation.localization.js requires jquery, underscore
fubuvalidation.rules.js requires fubuvalidation.localization.js
fubuvalidation.core.js requires underscore, fubuvalidation.rules.js, continuations
fubuvalidation.ui.js requires underscore, jquery
fubuvalidation.plugin.js requires fubuvalidation.ui.js, fubuvalidation.core.js, continuations, jquery.continuations.forms.js

fubuvalidation is fubuvalidation.plugin.js

ValidationActivator.js requires fubuvalidation

specs/fubuvalidation.rules.spec.js requires fubuvalidation.core.js