jquery is lib/jquery-1.7.min.js

ordered set core is 
jquery
lib/underscore-min.js
lib/jquery.form.js
lib/jquery.continuations.js
lib/jquery.continuations.forms.js
lib/sinon-1.2.0.js


fubuvalidation.localization.js requires jquery
fubuvalidation.rules.js requires fubuvalidation.localization.js
fubuvalidation.core.js requires fubuvalidation.rules.js
fubuvalidation.ui.js requires lib/jquery.continuations.js, lib/jquery.continuations.forms.js

specs/fubuvalidation.core.spec.js requires fubuvalidation.ui.js
specs/fubuvalidation.rules.spec.js requires fubuvalidation.core.js