continuations is jquery.continuations.js
continuations requires jquery
jquery.form.js requires jquery
jquery.continuations.forms.js requires continuations, jquery.form.js

fubuvalidation.localization.js requires jquery, underscore
fubuvalidation.rules.js requires fubuvalidation.localization.js
fubuvalidation.core.js requires underscore, fubuvalidation.rules.js, continuations
fubuvalidation.ui.js requires underscore, jquery.continuations.forms.js
fubuvalidation.plugin.js requires fubuvalidation.ui.js, fubuvalidation.core.js, continuations

specs/fubuvalidation.rules.spec.js requires fubuvalidation.core.js